.title{
    font-family: 'Press Start 2P', cursive;
}

.game{
    margin: 100px 100px 100px 100px;
}

.footer{
    font-family: 'Press Start 2P', cursive;
}

.container{
    text-align: center;
    margin: auto;
}

#input {
    font-family: 'Press Start 2P', cursive;
}